<div class="header-wrapper">
    <div class="logo">
        <img src="../../assets/images/Group 2.png"/>
        <div class="title float-left">South Fresh</div>
       </div>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Home</a>
       
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Products</a>
       
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>About Us</a>
        
        </li>
      </ul>
</div>
  
 
  
